<div class="home-window">

  <div class="home-window__welcome">
    <div class="home-window__text">
      <h2 class="home-window__title">Willkommen zu meinem Portfolio</h2>
      <p class="home-window__subtitle">Schön, dass du hier bist :)</p>
      <p class="home-window__description">
        Dieses Portfolio ist nicht nur eine Sammlung meiner bisherigen Projekte, sondern auch das Ergebnis eines kleinen Design-Umwegs. Let me explain.</p>

      <p class="home-window__description">
        Ursprünglich hatte ich ein ganz anderes Konzept im Kopf: die Projekte als Grid angeordnet, organische Formen, bunte Farben und mit Sternenregen.
        Ich habe es auch erstmal genauso umgesetzt, bis ich Feedback eingeholt habe. Dabei wurde schnell klar: kreativ ja, aber irgendwie auch zu verspielt und kindlich.
        Ich habe noch versucht es nachzubessern aber es hat sich nicht mehr richtig angefühlt. Also bin ich nochmal einen Schritt zurück. </p>

      <p class="home-window__description">
        Auf der Suche nach Inspiration bin ich dann durch YouTube über Webtrends für 2026 gestolpert, wobei mich besonders der Furtiger-Aero-Stil gecatcht hat.
        Nach weiterer Recherche bin ich schließlich auf Neocities-Seiten gelandet. Diese Mischung aus kreativen, oft sehr persönlichen Websites und experimentellen Layouts
        hat mich total abgeholt. Und so war dann die Richtung klar: eine interaktive Desktop-Oberfläche mit Nostalgie pur. </p>

      <p class="home-window__description">
        Demnach wünsche ich nun viel Spaß beim Erkunden meiner Seite!</p>

      <p class="home-window__description">
        PS: In der Credits.txt-Datei befinden sich einige Neocities-Seiten die mir als Inspiration dienten. </p>
    </div>
  </div>

</div>
