<div class="text-window">

  <!-- Normale Textdatei -->
  <pre class="text-window__content"
       *ngIf="!isContact && !isCredits">{{ data?.content }}</pre>

  <!-- Kontakt -->
  <div class="text-window__notepad" *ngIf="isContact">

    <!-- Überschrift im Notepad-Stil -->
    <div class="text-window__header">{{ data?.header }}</div>

    <!-- Links mit Icon -->
    <div class="text-window__links">
      <a
      *ngFor="let link of contactLinks"
      [href]="link.url"
      target="_blank"
      class="text-window__link">
      <img
        *ngIf="link.iconImg"
        class="text-window__link-icon"
        [src]="link.iconImg"
        [alt]="link.label"/>
      <span class="text-window__link-label">{{ link.label }}</span>
      </a>
    </div>

  </div>

  <!-- Credits -->
  <pre class="text-window__content"
       *ngIf="isCredits">{{ data?.content }}</pre>

</div>
