<div class="text-window">

  <pre class="text-window__content"
       *ngIf="!isContact && !isCredits">{{ data?.content }}</pre>

  <!-- Kontakt -->
  <div class="text-window__notepad" *ngIf="isContact">
    <div class="text-window__header">{{ data?.header }}</div>
    <div class="text-window__links">
      <a
      *ngFor="let link of contactLinks"
      [href]="link.url"
      target="_blank"
      class="text-window__link">
      <img
        *ngIf="link.iconImg"
        class="text-window__link-icon"
        [src]="link.iconImg"
        [alt]="link.label"/>
      <span class="text-window__link-label">{{ link.label }}</span>
      </a>
    </div>
  </div>

  <!-- Credits -->
  <div class="text-window__notepad" *ngIf="isCredits">
    <div class="text-window__header">{{ data?.header }}</div>
    <div class="text-window__links">
      <a
        *ngFor="let link of creditsLinks"
        [href]="link.url"
        target="_blank"
        class="text-window__link">
        <span class="text-window__link-label">{{ link.label }}</span>
      </a>
    </div>
  </div>


</div>
