.desktop-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem;
  border-radius: 2px;
  text-align: center;
  outline: none !important;
  border: 1px solid transparent;
  pointer-events: all;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px dotted white;
  }

  &.selected {
    background: rgba(255, 255, 255, 0.2);
    border: 1px dotted white;
  }

  &:not(:focus) {
    background: transparent;
    border-color: transparent;
  }
}

.desktop-icon__img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  pointer-events: none;
  image-rendering: pixelated;
}

.desktop-icon__label {
  font-size: 0.9rem;
  color: white;
  font-family: var(--font-system), sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0);
  word-break: break-word;
  line-height: 1.2;
  pointer-events: none;
}


// ------------- MEDIA QUERIES -------------
// Smartphone
@media screen and (max-width: 460px) {
  .desktop-icon__img {
    width: 2rem;
    height: 2rem;
    border: 2px solid green;
  }
}

//Tablet
@media screen and (min-width: 460px) and (max-width: 800px) {
  .desktop-icon__img {
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid red;
  }
}

